@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .navbar-fx {
    display: flex;
    justify-content: space-between;
  }
  .button1{
    border-radius: 20px;
  }
  .color-nm{
    color:E6533C;
  }
  .nav-link{
    list-style: none;
    gap: 30px;
    display: flex;
  
 background-color: aqua;
    border-radius: 20px;
  
  }
  .nav-bnm{
    color
  }
.img-nm{
    display: flex;
}


.img-bnm{

  width: 250px;
  border-radius: 115px;


}
.nav-bnm{
  
}
.flax-bnm{
  display: flex;
}


.run-bnm{
width: 400px;
  font-weight: 200;
}
.right-bnm{
  
}

.footer-bnm{
  color:black;
  text-align: center;
  background-size: 100px,100px;
  background-color:aqua
  
}